* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #0d236e;
  position: relative;
}

#game-container {
  width: 800px;
  height: 500px;
  background-color: black;
  position: relative;
}

#game-container::after {
  content: "";
  width: 800px;
  position: absolute;
  height: 6px;
  background-color: red;
  top: 0;
  z-index: 10;
}

#player {
  width: 40px;
  height: 40px;
  background-color: #00ffff;
  position: absolute;
  bottom: 4px;
  left: 0;
  transition: left 0.1s ease;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: 900;
}

#player:focus {
  outline: none;
  background-color: #0d236e;
}

#play-btn {
  font-family: "Orbitron", sans-serif;
  left: 0;
  top: 2px;
  background-color: #00ffff;
  border: none;
  padding: 5px 10px;
  width: 800px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

#play-btn:hover {
  letter-spacing: 20px;
}

.enemy {
  width: 40px;
  height: 6px;
  background-color: red;
  position: absolute;
  top: 0;
  animation: fall 1.3s linear;
  z-index: 5;
}

/* Enemy spawn animation */
@keyframes fall {
  from {
    top: 0;
  }
  to {
    top: 460px;
  }
}
/* Enemy spawn animation */

.star {
  width: 2px;
  height: 2px;
  position: absolute;
  background-color: yellow;
  border-radius: 50%;
  animation: move 1.2s ease-in-out forwards;
  transform-origin: top left;
  z-index: 0;
}

@keyframes move {
  to {
    transform: translate((--x), (--y));
  }
}

.dev {
  font-size: 18px;
}
